Pillow
opencv-python
pip
wheel
numpy
scipy
matplotlib
Cython
setuptools
torch==1.8.2
dataclasses
six
torchvision==0.9.2
networkx
imgaug
imageio
scikit-image
tifffile
Shapely
python-dateutil
decorator
cycler
pyparsing
kiwisolver
pycocotools