Pillow
opencv-python
pip
wheel
numpy
scipy
matplotlib
Cython
setuptools
torch==1.9.0
dataclasses
six
torchvision==0.10.0
networkx
imgaug
imageio
scikit-image
tifffile
Shapely
python-dateutil
decorator
cycler
pyparsing
kiwisolver
pycocotools